@import '../../colors';
@import '../../media';

$nav-namespace: "elementsNav";

.#{$nav-namespace} {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 60px;
  background-color: $main;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;

  &.transparent {
    position: relative;
    flex-direction: row;
    background: $white;
    height: 97px;
    justify-content: space-between;
    padding: 30px 60px;
    z-index: 999;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.13);

    @include mobile-and-smaller() {
      justify-content: center;
    }

    .left {
      cursor: pointer;
      flex: 0 0 130px;
      height: 100%;
    }
    .right {
      display: flex;
      flex-direction: row;
      align-items: center;
      flex: 0 0 auto;

      @include mobile-and-smaller() {
        display: none;
      }

      button {
        margin-left: 20px;
      }
    }

    & .mobileMenu {
      position: absolute;
      align-self: center;
      right: 16px;
  
      ul {
        position: absolute;
        width: 120px;
        right: 0;
      }
    }
  }

  .wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1080x;
    align-items: center;

    .column {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;;
      flex: 1 1 auto;
    }
  }
}