
@import '../../colors';
@import '../../fonts';
@import '../../media';

$epidemic-namespace: "pageEpidemic";

.#{$epidemic-namespace} {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 40px;
}