
@import '../../colors';
@import '../../fonts';
@import '../../media';

$free-consultation-list-namespace: "pageFreeConsultationList";

.#{$free-consultation-list-namespace} {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 40px;
}