
@import '../../colors';
@import '../../fonts';
@import '../../media';

$clinic-list-namespace: "pageClinicList";

.#{$clinic-list-namespace} {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 40px;

  header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;;

    .title {
      color: $black0;
      font-size: $px30;
      margin-bottom: 27px;
    }
  }

  .filters {
    display: flex;
    flex-direction: column;

    .cityFilter {
      width: 100%;
    }
  }

  .listWrapper {
    display: flex;
    margin-top: 40px;
  }
}