
@import '../../colors';
@import '../../fonts';
@import '../../media';

$treatment-namespace: "pageTreatment";

.#{$treatment-namespace} {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 40px;
}