/* Any color should go here */
$black1: #000;
$black2: #323232;

$blue1: #0e2331;
$blue2: #007aff;
$blue3: #0a1b25;

$gray1: #293b49;
$gray2: #4e5e69;
$gray3: #efefef;
$gray4: #324b61;
$gray5: #e6eaf0;

$red1: #fe0e2d;

$super-light: rgba(255, 255, 255, 0.2);

$white: #fff;
$white-40: rgba(255, 255, 255, 0.4);