/* Any color should go here */
$main1: #fff5f0;
$main2: #ffece3;
$main3: #ffa18c;
$main4: #ffad91;
$main5: #ff8969;
$main6: #ff6440;
$main7: #d9452b;
$main8: #b32c1b;
$main9: #8c190e;
$main10: #660e09;
$main_dark: #cc4f33;

$black0: #000;
$black1: #4a4a4a;
$black2: #979797;

$red1: #f78098;
$red2: #f5365c;
$red3: #c22b49;

$green1: #70d7aa;
$green2: #2dce89;
$green3: #229c67;
$green4: #0ad29b;

$blue1: #5adbf2;
$blue2: #11cdef;
$blue3: #0da2bd;
$dark_blue1: #32325d;

$yellow1: #ffe085;
$yellow2: #ffcd38;
$yellow3: #cca42d;

$grey1: #f0f3f5;
$grey2: #b8b8c0;
$grey3: #86868d;
$grey4: #828282;
$grey5: #f5f5f5;
$grey6: #595959;
$grey7: #8c8c8c;

$white: #ffffff;
