/* Any color should go here */
$main: #FF6440;
$main_light: #FFA18C;
$main_dark: #CC4F33;

$black0: #000;
$black1: #4A4A4A;

$red1: #F78098;
$red2: #F5365C;
$red3: #C22B49;

$green1: #70D7AA;
$green2: #2DCE89;
$green3: #229C67;

$blue1: #5ADBF2;
$blue2: #11CDEF;
$blue3: #0DA2BD;
$dark_blue1: #32325D;

$yellow1: #FFE085;
$yellow2: #FFCD38;
$yellow3: #CCA42D;

$grey1: #F0F3F5;
$grey2: #B8B8C0;
$grey3: #86868D;
$grey4: #828282;
$grey7: #8C8C8C;

$white: #ffffff;