@import '../../colors';

.ant-btn-link {
  color: $white !important;

  &.main {
    color: $main !important;
  }
}

.ant-btn-primary {
  background-color: $main !important;
  border-color: $main !important;

  &:hover, &:focus {
    background-color: $main_light !important;
    border-color: $main_light !important;
  }

  &:active {
    background-color: $main_dark !important;
    border-color: $main_dark !important;
  }
}

.ant-btn-ghost {
  color: $main !important;
  border-color: $main !important;
}
.fakeDisabled {
  background-color: $white !important;
  cursor: default !important;
}