@import '../../colors';
@import '../../media';
@import '../../fonts';

$footer-namespace: "elementsFooter";

.#{$footer-namespace} {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 32px 160px;
  background-color: $white;
  border-top: 1px solid $main;
  border-bottom: 1px solid $main;
  flex: 0 0 auto;

  .title {
    color: $white;
    text-align: center;
    font-size: $px18;
    font-weight: $medium;
    margin-bottom: 32px;
  }

  .siteMap { 
    display: flex;
    flex-direction: row;
    width: 300px;
    align-items: center;
  }

  @include tablet-and-smaller() {
    flex-direction: column;
    padding: 32px;
  }

  svg {
    @include tablet-and-smaller() {
      margin: 0 auto;
      margin-bottom: 16px;
    }
  }

  .siteMapItemWrapper {
    @include tablet-and-smaller() {
      justify-content: center;
    }
  }
}