
@import '../../colors';
@import '../../fonts';
@import '../../media';

$news-feed-namespace: "pageNewsFeed";

.#{$news-feed-namespace} {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 40px;
}