@import '../../colors';
@import '../../media';
@import '../../fonts';

$clinic-card-namespace: "elementsClinicCard";

.#{$clinic-card-namespace} {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 340px;
  background-color: $white;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 5px;;

  .contentWrapper {
    display: flex;
    flex-direction: column;
    height: 100%;

    .name {
      color: $black0;
      font-size: $px24;
      margin-bottom: 16px;
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .subtitle {
      display: flex;
      flex-direction: row;
      margin-bottom: 20px;
      color: $grey4;
    }
  
    .supplyName {
      font-size: $px16;
      color: $black0;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  
    .otherSupplies {
      font-size: $px16;
      color: $grey4;
    }
  }
}