@import '../../colors';
@import '../../media';
@import '../../fonts';

$travelhotel-card-namespace: 'elementsTravelHotelCard';

.#{$travelhotel-card-namespace} {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 200px;

    .contentWrapper {
        display: flex;
        flex-direction: column;
        height: 100%;
        .name {
          color: $black0;
          font-size: $px24;
          margin-bottom: 16px;
          width: 100%;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        .lineInfo {
          display: flex;
          flex-direction: row;
          font-size: 24px;
        }
        .greyFont {
            font-size: 14px;
            color: $grey7;
        }
        .viewMap {
            color: $main;
        }
      }
}