@import '../../colors';
@import '../../media';
@import '../../fonts';

$travelhotel-card-namespace: 'elementsTravelHotelCard';

.#{$travelhotel-card-namespace} {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    height: 250px;

    .contentWrapper {
      display: flex;
      flex-direction: column;
      height: 100%;

      .addressWrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        max-width: calc(100% - 64px);
      }
      .name {
        color: $black0;
        font-size: $px24;
        margin-bottom: 16px;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .lineInfo {
        display: flex;
        flex-direction: row;
        font-size: 24px;
      }
      .greyFont {
          font-size: 14px;
          color: $grey7;
      }
      .viewMap {
        flex: 0 0 auto;
        color: $main;
      }
      }
}