@import '../../colors';
@import '../../fonts';
@import '../../media';

$logistics-index-namespace: 'pageLogisticsCheck';

.#{$logistics-index-namespace} {
  display: flex;
  justify-content: center;
}
