@import '../../colors';
@import '../../fonts';
@import '../../media';

$logistics-list-namespace: 'pageLogisticsList';

.#{$logistics-list-namespace} {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 40px;
  @include mobile-and-smaller() {
    padding: 0px;
  }

  h3 {
    color: $black0;
    font-size: $px46;
    margin: 0 auto;
    margin-bottom: 26px;
  }

  .selectGroup {
    display: flex;
    @include mobile-and-smaller() {
      padding: 0 13px;
    }

    .select {
      flex: 1;
      margin-right: 20px;
      // width: 20% !important;

      @include mobile-and-smaller() {
        width: 50% !important;
        margin: 0 5px;
      }
    }
  }

  .search {
    // width: 80% !important;

    @include mobile-and-smaller() {
      width: calc(100% - 36px) !important;
      margin: 10px 18px -24px 18px;
    }
  }
}
