
@import '../../colors';
@import '../../fonts';
@import '../../media';

$travel-hotel-list-namespace: "pageTravelHotelList";

.#{$travel-hotel-list-namespace} {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 40px;
}