
@import '../../colors';
@import '../../fonts';
@import '../../media';

$travel-hotel-list-namespace: "pageTravelHotelList";

.#{$travel-hotel-list-namespace} {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 40px;
  header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;;

    .title {
      color: $black0;
      font-size: $px30;
      margin-bottom: 27px;
    }
  }
  .hotelContainer{
    .filter{
      margin-bottom: 10px;
    }
    .selectField{
      min-width: 120px;
    }
    .searchInput{
      width: 100%
    }
  }
}
