
@import '../../colors';
@import '../../fonts';
@import '../../media';

$hotel-list-namespace: "pageHotelList";

.#{$hotel-list-namespace} {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 40px;
}