
@import '../../colors';
@import '../../fonts';
@import '../../media';

$page-donate-namespace: "pageDonateList";

.#{$page-donate-namespace} {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 40px;

  header {
    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
      color: $black0;
      font-size: $px46;
      margin-bottom: 16px;
    }
    .subtitle {

    }
  }

  .filters {
    display: flex;
    flex-direction: column;

    .cityFilter {
      width: 100%;
    }
  }

  .listWrapper {
    display: flex;
    margin-top: 40px;

    .gridCol {
      max-width: 100%;
      margin-bottom: 16px;
    }
  }
}